[Desktop Entry]
Name=TimeLight
Exec=TimeLight
Icon=TimeLight
Comment=A button for controlling time tracker services from your system tray.
GenericName=TimeLight
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;Utility;

